[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
Icon=application-x-theme
MimeType=image/x-canon-cr2;image/x-adobe-dng
Actions=cr2todng;raw_tags_resize;correct_mtime;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
X-KDE-Submenu=Image Tools

[Desktop Action cr2todng]
Name=CR2 to DNG, detect & convert dual ISO
Icon=application-x-theme
Exec=/usr/share/kio/servicemenus/imagetools_02_cr2todng.sh %F

[Desktop Action raw_tags_resize]
Name=Rename, uncrop & add baseline tags (Canon 5DMK3)
Icon=application-x-theme
Exec=/usr/share/kio/servicemenus/imagetools_03_raw_resolution-baseline_canon_5dmk3.sh %F

[Desktop Action correct_mtime]
Name=Set mtime to DateTimeOriginal
Icon=application-x-theme
Exec=/usr/share/kio/servicemenus/imagetools_09_mtime.sh %F
