[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
Icon=application-x-theme
MimeType=x-canon-mlv;
Actions=mlvdump;mlvinfo;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
X-KDE-Submenu=Image Tools

[Desktop Action mlvdump]
Name=Extract all DNG frames
Icon=application-x-theme
Exec=/usr/share/kio/servicemenus/imagetools_05_mlvdump.sh %F

[Desktop Action mlvinfo]
Name=About this MLV file
Icon=application-x-theme
Exec=/usr/share/kio/servicemenus/imagetools_06_mlvinfo.sh %F
