[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
Icon=application-x-theme
MimeType=x-canon-mlv;
Actions=mlvdump;mlvinfo;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
X-KDE-Submenu=Image Tools

[Desktop Action mlvdump]
Name=Extract all DNG frames
Icon=application-x-theme
Exec=/usr/bin/mlvdump_desktop %F

[Desktop Action mlvinfo]
Name=About this MLV file
Icon=application-x-theme
Exec=/usr/bin/mlvinfo_desktop %F
