pkgname=linux-imagetools
provides=(linux-imagetools)
pkgver=1
pkgrel=1
pkgdesc="Useful combination of tools for processing various images (KDE6 Dolphin action)"
arch=('any')
license=('GPL')
source=(
  imagetools_01_exif_statistics.sh
  imagetools_02_cr2todng_batch_desktop.sh
  imagetools_03_raw_resolution-baseline_canon_5dmk3_batch_desktop.sh
  imagetools_04_mlvdump_batch_desktop.sh
  imagetools_05_mlvinfo_desktop.sh
  imagetools_06_exif_deletedata_batch.sh
  imagetools_06_exif_deletedata_critical_batch.sh
  imagetools_07_ale_stack.sh
  imagetools_09_repair_image_mtime_batch.sh
  01_imagetools-statistics.desktop
  02_imagetools-dng-cr2.desktop
  03_imagetools-mlv.desktop
  04_imagetools-jpg-png.desktop
  05_imagetools-imagestack.desktop
)

depends=(
  magiclantern-tools
  perl-image-exiftool
  ale
  dcraw
  netpbm
  gnuplot
  coreutils
  dolphin
  dnglab
)

md5sums=('af8ff47782a5e0cdebab7af5ffd8bc8b'
         '85eac2f1c90aa9c69c1ae56de509a5eb'
         '34decae316788b307fa9bf95019f7bfd'
         'ffdbf673bacaff48d9e782d27cfa6234'
         '861b8d571c816711ee918b1b75cc3876'
         'ca6959488844c656803836159dd2a1d2'
         '628ca4befa6bc65de067bbfce599ea98'
         '3b4f541df70a95292625edf28ed6f349'
         '3ee231f6da77907e20190d2f14cae907'
         'fb81862081b7ffbbfd05168c5d28e84e'
         'ce68fd38ad736423be1cf0cfa815bfaa'
         'a1dc9be7d4351574a3ea96f4ed7afbd8'
         '7e51087dfb81a30284e2471effac2fb2'
         'a6e3a56e547a6aaec7135acfdc1d9ce1')

package() {
  mkdir -p "${pkgdir}/usr/bin/"
  for i in "${srcdir}/"*.sh
  do
    chmod 0755 "${i}"
    cp -p "${i}" "${pkgdir}/usr/bin/$(basename -s .sh ${i} | sed 's/imagetools_[0-9]*_//')"
  done

  mkdir -p "${pkgdir}/usr/share/kio/servicemenus/"
  for i in "${srcdir}/"*.desktop; do
    cp -p "${i}" "${pkgdir}/usr/share/kio/servicemenus/"
  done
}
